<section>
<% if(data.img){ %> 
  <div class="post_img w-full h-80 overflow-hidden rounded-b-lg mb-4">
    <img src="/assets/upload/<%= data.img %> " class="object-fit w-full" alt="" srcset="" />
  </div>
 <%}%> 
  <div class="w-5/6 mx-auto my-8">
    <h1 class="text-4xl text-indigo-500 mb-5 font-semibold"><%= data.title %> </h1>
    <h2 class="text-lg text-indigo-500 mb-2"><%= data.category_name %> </h2>
    <h2 class="text-md text-gray-500 font-semibold mb-2">
      written by:<span class="text-indigo-400 ml-2"><%= data.name %> </span>
    <h2 class="text-md text-gray-500 font-semibold mb-2">
      created at:<span class="text-indigo-400 ml-2"><%= m(data.created_at).fromNow() %> </span>
    </h2>
    <p class="text-lg">
      <%= data.description %> 
    </p>
  </div>
  <div class="container mx-auto">

    <div id="disqus_thread"></div>
  </div>
<script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://http-localhost-5000-7.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
