<section class="w-4/5 mx-auto rounded-md shadow-lg p-4 my-3">
  <div class="flex justify-between">
    <div class="following">
      <h1 class="text-2xl mb-4 mt-3 font-semibold text-indigo-500">
        Following
      </h1>
      <ul>
        <% if(following.length >0){ 
          following.forEach((data)=>{%>
            <a href="/profile/<%= data.id %>" >
              <li class="mb-2 py-3 px-2 shadow-md rounded-sm flex">
            <% if(data.avatar){ %> 
            <img
            src="/assets/upload/"<%= data.avatar %> 
            class="rounded-full w-8 h-8 mr-4"
            alt=""
            />
            <%}else{%>
            <img
            src="https://ui-avatars.com/api/?name=<%= data.name %>&color=7F9CF5&background=EBF4FF"
            class="rounded-full w-8 h-8 mr-4"
            alt=""
            />
            <% } %> 
                <h1 class="text-xl text-black" ><%= data.name %> </h1>
              </li>
            </a>
          <%})%>
        <% }else{ %> 
          <%- include('../partial/error') %> 
          <% } %>
      </ul>
    </div>
    <div class="w-0.5 bg-blue-300"></div>
    <div class="follower">
      <h1 class="text-2xl mb-4 mt-3 font-semibold text-indigo-500">Follower</h1>
<ul>
        <% if(follower.length >0){ 
          follower.forEach((data)=>{%>
            <a href="/profile/<%= data.id %>" >
              <li class="mb-2 py-3 px-2 shadow-md rounded-sm flex">
            <% if(data.avatar){ %> 
            <img
            src="/assets/upload/"<%= data.avatar %> 
            class="rounded-full w-8 h-8 mr-4"
            alt=""
            />
            <%}else{%>
            <img
            src="https://ui-avatars.com/api/?name=<%= data.name %>&color=7F9CF5&background=EBF4FF"
            class="rounded-full w-8 h-8 mr-4"
            alt=""
            />
            <% } %> 
                <h1 class="text-xl text-black" ><%= data.name %> </h1>
              </li>
            </a>
          <%})%>
        <% }else{ %> 
          <%- include('../partial/error') %> 
          <% } %>
      </ul>
    </div>
  </div>
</section>
