<section class="post_list">
  <!-- component -->
  <div class="overflow-x-auto">
    <div
      class="
        min-w-screen
        bg-gray-100
        flex
        justify-center
        bg-gray-100
        font-sans
        overflow-hidden
      "
    >
      <div class="w-full lg:w-5/6">
        <div class="bg-white shadow-md rounded my-6 p-5">
          <table class="min-w-max w-full table-auto" id="table">
            <thead class="mt-5">
              <tr
                class="
                  bg-gray-200
                  text-gray-600
                  uppercase
                  text-sm
                  leading-normal
                "
              >
                <th class="py-3 px-6 text-left">id</th>
                <th class="py-3 px-6 text-left">Name</th>
                <th class="py-3 px-6 text-left">Email</th>
                <th class="py-3 px-6 text-center">Message</th>
                <th class="py-3 px-6 text-center">Status</th>
                <th class="py-3 px-6 text-center">Actions</th>
              </tr>
            </thead>
            <tbody class="text-gray-600 text-sm font-light">
              <% i=1 
              contact.forEach((data)=>{ %>
              <tr class="border-b border-gray-200 hover:bg-gray-100">
                <td class="py-3 px-6 text-left whitespace-nowrap"><%= i %></td>
                <td class="py-3 px-6 text-left">
                  <div class="flex items-center">
                    <span><%= data.name %> </span>
                  </div>
                </td>
                <td class="py-3 px-6 text-left">
                  <div class="flex items-center">
                    <span><%= data.email %> </span>
                  </div>
                </td>
                <td class="py-3 px-6 text-left">
                  <div class="flex items-center">
                    <span><%= excerpt(data.message) %> </span>
                  </div>
                </td>
                
                <td class="py-3 px-6 text-center">
                  <% if(data.status){ %>
                  <span
                    class="
                      bg-green-200
                      text-purple-600
                      py-1
                      px-3
                      rounded-full
                      text-xs
                    "
                    >Seen</span
                  >
                  <% }else{%>
                  <span
                    class="
                      bg-red-200
                      text-purple-600
                      py-1
                      px-3
                      rounded-full
                      text-xs
                    "
                    >Unseen</span>
                  <% } %>
                </td>
                <td class="flex justify-center items-center">
                  <a
                      href="/admin/help/message/<%= data.id %> "
                      class="
                        w-6
                        mr-4
                        cursor-pointer
                        transform
                        hover:text-purple-500 hover:scale-110
                      "
                    >
                     <i class="fa fa-envelope h-6 w-6 text-xl" aria-hidden="true"></i>
                    </a>
                </td>
              </tr>
              <% i++
             }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
